Source: php7.0-phalcon
Section: php
Priority: optional
Maintainer: Emilien Mantel <emilien.mantel@debianiste.org>
Build-Depends: debhelper (>= 8.0.0), php7.0-dev, libpcre3-dev, gcc, make, php7.0-mysql
Standards-Version: 3.9.4
Homepage: http://phalconphp.com
Vcs-Git: git://github.com/phalcon/cphalcon.git
Vcs-Browser: https://github.com/phalcon/cphalcon

Package: php7.0-phalcon
Architecture: i386 amd64 
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Recommends: php7.0-mcrypt, openssl (>= 1.0.1e)
Suggests: php7.0-mysql, php7.0-sqlite3, php7.0-pgsql, php7.0-mongodb, php7.0-memcached
Description: Phalcon Module for PHP 7.0
 Phalcon is a PHP framework implemented as a C extension offering high
 performance and lower resource consumption. 
