#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CFLAGS += -fvisibility=hidden -DPHALCON_RELEASE -march=native -mtune=native -O2 -finline-functions -fomit-frame-pointer

PHALCON_DIR    = build/safe
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
PHPAPI = $(shell php-config --phpapi)

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),i386))
	PHALCON_DIR = phalcon/build/32bits
endif

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),amd64))
	PHALCON_DIR = phalcon/build/64bits
endif


%:
	dh $@

override_dh_auto_configure:
	(cd $(PHALCON_DIR); phpize5; ./configure --enable-phalcon=shared)

override_dh_auto_build:
	$(MAKE) -C $(PHALCON_DIR)
	echo "$(PHALCON_DIR)/modules/phalcon.so usr/lib/php5/$(PHPAPI)" > debian/php5-phalcon.install
	echo "debian/phalcon.ini etc/php5/mods-available" >> debian/php5-phalcon.install

override_dh_auto_clean:
	dh_auto_clean
	( \
		cd $(PHALCON_DIR); \
		[ -f Makefile ] && $(MAKE) distclean; \
		phpize5 --clean; \
		rm -f tmp-php.ini; \
	)

override_dh_clean:
	rm -f debian/php5-phalcon.substvars
	rm -f debian/php5-phalcon.install
	dh_clean

override_dh_auto_install:
	$(MAKE) -C $(PHALCON_DIR) install INSTALL_ROOT=../../../debian/php5-phalcon

override_dh_gencontrol:
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-phalcon.substvars
	dh_gencontrol

